version: '3'

services:
  streamlit:
    image: 724819293261.dkr.ecr.us-east-1.amazonaws.com/img_name
    command: code_package/streamlit/start.sh
    platform: linux/amd64
    ports:
      - "8501:8501"
    volumes:
      - ./code_package/:/app/code_package/

  streamlit-local:
    image: img_name:latest
    command: code_package/streamlit/start.sh
    platform: linux/amd64
    ports:
      - "8501:8501"
    volumes:
      - ./code_package/:/app/code_package/
